html { height: 100%; }
// Home Content
.landing-page {
  .splash {
    height: 99%;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    .splash-image {
      background-image: url("../assets/img/6057054938_d952659baa_o-medium.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      
      top: 0;
      height: 100%;
      position: relative;
      opacity: 0.92;
      // filter: brightness(100%) contrast(90%);
      .splash-overlay {
        // background: @splash-bg-gradient;
        .bg-gradient(@black;1;@dark;0.25);
        background-attachment: fixed;
        height: 100%;
      }
    }
    .tagline {
      position: absolute;
      left: 0;
      top: 35%;
      width: 100%;
      text-align: center;
      color: @apple-red;
      
      h2 {
        background-color: @porcelain;
        padding: 18px;
        width: 33%;
        margin: 0 auto;
        .border-style;
        .box-shadow(2px, 2px, 8px, rgba(0,0,0,0.75));
        @media @phone {
          width: 80%;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .btn(@white; @apple-red; @white; @apple-red; 25%; 0px; 1.8rem);
      .border-style;
      z-index: 1;
    }
  }
}


section a.divider {
  display: grid;
  width: 100%;
  margin-top: -3px;
  text-decoration: none;
  .leading-arrow {
    background-color: @dark;
    color: @white;
    font-size: 5rem;
    margin: -27px auto;
    border-radius: 28px;
    border: 2px solid @dark;
    z-index: 3;
    &:hover {
      transform: scale(1.25);
      transition-duration: 0.5s;
    }
  }
}


.home {
  display: block;
  max-width: unset;
  width: 100%;
  background-color: @dark;

  .luncher-info {
    transform: rotate(10deg) skew(10deg);
    width: 100%;
    left: -0.7%;
    background-color: @dark;
    color: @porcelain;
    position: relative;
    padding: 10% 20%;
    @media @phone {
      padding: 20%;
    }
    @media @medium {
      padding: 20%;
    }
    @media @phone-small { // Give a little more vertical room on small displays. Take up more horiz space.
      padding: 25% 5%;
    }
    .grid-col-2 { // Change to 1 column for 600px and below
      transform: rotate(-9.7deg) skew(-10deg);
      left: 5%;
      @media @phone {
        grid-template-columns: 100%;
        grid-gap: 10px 10px;
      }
      a {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .btn(@clear-color; @white; @white; @apple-red; 33%; 0px; 1.8rem);
        .border-style;
        z-index: 1;
      }
      p {
        text-align: center;
        align-self: center; 
      }
      .icon { 
        font-size: 6rem;
        @media @phone { // create a one column grid on 600px and below
          font-size: 3rem;
          grid-column: 1;
        }
        @media @medium {
          font-size: 4rem;
        }
      }
      .text {
        font-size: 2.2rem;
        margin-left: 20px;
        @media @phone { // create a one column grid on 600px and below
          font-size: 1.4rem;
          grid-column: 1;
          padding-bottom: 20px;
          margin-left: unset;
        }
        @media @medium {
          font-size: 2rem;
        }
      }
    }
  }

  .school-map {
    background-color: @apple-yellow;
    color: @apple-red;
    position: relative;
    padding: 5% 0 0 0;
    z-index: 3;
    .box-shadow;

    h3 {
      text-align: center;
    }
    p.description {
      // grid-column-start: 1;
      // grid-column-end: 1;
      // grid-row-start: 1;
      // grid-row-end: 1;
      font-size: 1.6rem;
      text-align: center;
      // .icon {
      //   font-size: 6rem;
      //   padding: 0 0 20px 0;
      // }
    }
    .map {
      // grid-column-start: 1;
      // grid-column-end: 1;
      // grid-row-start: 2;
      // grid-row-end: 2;
      margin-top: 20px;
    }
    #mapid { 
      height: 400px; 
      font-size: 1rem;
    }
    
  }

  .newsletter {
    background-image: url("../assets/img/Fruit-bar-pic-Web-USDAgov.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    .box-shadow;
    color: @apple-red;
    .newsletter-overlay {
      .bg-gradient(@apple-yellow;0.75;@apple-tan;0.75);
      // background: @newsletter-bg-gradient;
      height: 100%;
      form {
        padding: 0 0 20px 0;
        .container-form {
          padding: 5%;
          margin: 0 auto;
          text-align: center;
          h3 {
            text-align: center;
          }
          p { text-align: center; }
          .btn {
            grid-column: span 2;
            display: flex;
            justify-content: center;
            margin: 10px auto 0;
            .btn(@clear-color; @apple-red; @white; @apple-red; 33%; 0px; 1.8rem);
            .border-style;
            z-index: 1;
          }
          input[type=text] {
            width: 50%;
            max-width: 600px;
            padding: 12px;
            margin: 8px 0;
            border: 1px solid #ccc;
            @media @phone {
              width: 90%;
              
            }
          }
        }
      }
    }
  }


  .contact {
    background-color: @apple-tan;
    color: @dark;
    padding: 5% 15%;
    @media @phone {
      padding: 5% 5%;
    }
    .grid-col-4 {
      align-items: center;
      @media @phone { // Turn grid into a 3 column layout for <600px wide
        grid-template-columns: 10% 80% 10%;
      }
      h3 {
        grid-column: span 4;
        text-align: center;
        padding: 0 0 20px 0;
      }

      .icon, .social {
        font-size: 2.1rem;
        text-align: center;
        align-self: baseline;
      }
      .text, .social-text {
        font-size: 1.4rem;
        margin-left: 10px;
        align-self: auto;
      }
      .icon { grid-column: 1; }
      .text { grid-column: 2; }
      .social { grid-column: 3; }
      .social-text { 
        grid-column: 4; 
        @media @phone {
          display: none;
        }
        
      }
      a {
        color: @dark;
        text-align: center;
        align-self: baseline;
        &:hover {
          color: @white;
          transition-duration: 0.5s;
        }
      }
    }
  }
}   

